/* ===== ALL TAGS ==== */
* {
  /* max-width: 1000px; */
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}

/* ==== HEADER SECTION ===== */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  position: absolute;
  width: 100%;
}
#menu {
  display: none;
  border: 0;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}
#menu::before {
  content: "☰";
}
header img {
  width: 200px;
  height: auto;
  object-fit: contain;
  flex: 0 0 auto;
}
/* ==== NAVIGATION ===== */
nav .navigation {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
nav .navigation a {
  color: white;
  text-decoration: none;
}
nav .navigation a:hover {
  color: #ff6565;
}
/* ==== HERO IMAGE ==== */
#hero {
  width: 100%;
  height: 100vh;
  background: url(images/headphones_hero_1.jpg) no-repeat center / cover;
  color: white;
}
.container, /* ==== WHAT WE DO SECTION ===== */
.section-page {
  width: 90%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container .info h1 {
  font-size: 1.6rem;
  margin-top: 12rem;
}
.container .info p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.container .info button {
  padding: 0.5rem;
  color: white;
  background-color: #ff6565;
  border-radius: 2rem;
  border: 0;
  margin-bottom: 4rem;
}
.container .info button:hover {
  opacity: 0.9;
}

/* ==== WHAT WE DO SECTION ===== */
.section-page {
  flex-direction: column;
}
.section-page:hover {
  animation: scale-up 0.5s ease-in-out;
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.section-page h2 {
  margin: 5rem 0 2rem 0;
}
.section-page p {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}
/* ==== CONTAINER OF ICONS ==== */
.box {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  justify-content: center;
  margin: 3rem 2rem;
}
.box img {
  width: 50px;
  height: auto;
}
/* ===== ICONS ===== */
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 3rem;
}

.icons p {
  font-size: 0.8rem;
  text-align: left;
  margin: 0 1rem;
}

/* === OUR RESULT SECTION === */
#hero-2 {
  background: url(images/headphones_hero_2.jpg) no-repeat center / cover;
  width: 100%;
  height: auto;
  color: white;
  padding-bottom: 2rem;
}
.pen {
  position: relative;
  display: inline-block;
  text-align: center;
}
.pen img {
  max-width: 100%;
  width: 150px;
  height: auto;
  display: block;
}
.pen .data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.pen .data h3 {
  font-size: 3rem;
  margin: 0;
}
.pen .data p {
  font-size: 1rem;
  margin: 0;
}
#star {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* ==== CONTACT US ===== */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contact-us fieldset {
  display: block;
  border: 0;
}
.contact-us legend {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.contact-us label {
  display: block;
  padding: 1rem;
}
.contact-us input[type="text"],
.contact-us input[type="email"],
.contact-us textarea {
  width: 100%;
  padding: 12px;
  max-width: 400px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.contact-us input:required {
  border-right: 5px solid #ff6565;
}
.contact-us input:required:valid {
  border-right: 5px solid #0be76e;
}
.req {
  color: red;
}
.contact-us input[type="button"] {
  padding: 0.5rem;
  color: white;
  background-color: #ff6565;
  border-radius: 2rem;
  margin-left: 5rem;
}

/* ==== FOOTER ===== */
footer {
  background-color: black;
  color: white;
  padding: 2rem;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer img {
  width: 100px;
}
.footer ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.footer ul li a img {
  width: 1rem;
}
#currentyear {
  text-align: center;
  font-size: 0.5rem;
}

/* Tablet view */
@media (max-width: 768px) {
  #star {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .box {
    grid-template-columns: repeat(2, 1fr);
  }
  #menu.open::before {
    content: "❌";
  }

  #menu {
    display: block;
  }
  nav .navigation {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    /* background: #fff; */
    flex-direction: column;
    padding: 1rem;
  }
  nav .navigation.open {
    display: flex;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  #star,
  .box {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .pen .data h3 {
    font-size: 2rem;
  }
  .pen .data p {
    font-size: 0.44rem;
  }
  .pen img {
    width: 100px;
  }
}
