:root {
  --heading-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --body-font: "Source Sans 3", "Courier New", Courier, monospace;
  --button-color: #8364e8;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-family: var(--body-font);
}

/* ==== HEADER ====== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  padding: 1.1rem 3.33rem;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  list-style: none;
}
.nav-links a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
  font-size: 1rem;
  font-family: var(--heading-font);
}
.nav-links a:hover {
  background-color: #8364e8;
  padding: 1rem;
}
/* ===== HERO SECTION ======= */
#hero {
  background-image: url(images/Object.png);
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}
#hero-content {
  position: absolute;
  top: 15%;
  left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.67rem;
}
#title {
  font-size: 5.5rem;
  letter-spacing: 2.5px;
  font-weight: bold;
  font-family: var(--heading-font);
}
#hero-content p {
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}
button {
  background-color: var(--button-color);
  color: var(--white-color);
  border-radius: 3rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2rem;
}
#instructors {
  bottom: 0;
  text-align: center;
  position: absolute;
  width: 100%;
}
#instructors h2 {
  font-size: 2rem;
  text-align: center;
  margin-left: 4rem;
}
.purple {
  color: var(--button-color);
}
#instructors-grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.instructor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.instructor img {
  width: 100px;
  height: 100px;
}
.instructor h3 {
  font-size: 0.67rem;
}
.instructor p {
  font-size: 0.55rem;
  font-style: italic;
}

/* ===== QUOTES ====== */
#quotes {
  background-color: var(--button-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 5rem 10rem;
  font-size: 0.67rem;
}
#quotes img {
  width: 100px;
  height: 100px;
}

#author {
  font-weight: bold;
  margin-top: 1rem;
}
#sub-title {
  font-style: italic;
  margin-top: 0.5rem;
}

/* ===== VIDEOS ===== */
#video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin: 2rem 0;
}
#video h2 {
  font-size: 2rem;
  text-align: center;
}
#video-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 5rem;
  gap: 1rem;
}
.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 50px;
}
.video-thumb {
  position: relative;
}

.video-content img {
  border-radius: 5px;
}
.video-content h3 {
  font-size: 1rem;
  margin-left: 0.5rem;
}
.video-content p {
  font-size: 0.7rem;
  margin-left: 0.5rem;
}
.video-author {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  color: var(--button-color);
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.video-author img {
  width: 20%;
}
.video-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  color: var(--button-color);
  margin-left: 0.5rem;
}
.video-rating img {
  width: 100px;
}
.video-rating p {
  font-weight: 700;
  font-size: 1rem;
}

/* ===== MEMBERSHIP ===== */

#membership {
  background-color: #000;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  text-align: center;
}
#top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  justify-content: space-between;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature h3 {
  font-size: 1rem;
}
.feature p {
  font-size: 0.7rem;
  text-align: left;
  margin-left: 2rem;
}

/* ===== FAQ ======== */
#faq {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  padding: 2rem;
}
#faq h2 {
  text-transform: uppercase;
  text-align: center;
}
#question {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin: 1rem 4rem;
  padding: 2rem;
}

.faq-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

/* ==== FOOTER ===== */
#footer {
  background-color: #000;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}
#footer-logo {
  display: flex;
  justify-content: space-between;
}
#footer p {
  text-align: center;
}
#social {
  display: flex;
  gap: 1rem;
}
#social img {
  width: 50px;
  height: 50px;
  background-color: white;
}
